.header-box-N{
    width:80%;
    margin:0 auto;
    
}
.header-box-N ul{
    font-weight: 700;
}
.header-box-N ul li a{
    color: #fff;
}
.header-box-N ul li a:hover{
    color: #649502;
}
.logo-N{
    margin-top:-9px;
}

.navbar-default{
    margin:0;
}
.menu-N {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items:center;
}
.menu-N > ul {
    padding: 0;
    margin: 0;   
}
.menu-N > li {
    position:relative;
}
    .menu-N ul li {
        display: inline;
        padding: 16px 10px;
        border-left: 1px solid #f8f8f8;
        border-right: 1px solid #f8f8f8;
    }
.menu-N ul li > a{
    text-decoration:none;
    color:black;
}
.menu-N ul li:hover {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    background-color: white;
}
ul {
    padding: 0;
    margin: 0;
}

.menu-mega-N{
    position:absolute;
    top:50px;
    z-index:10;
   background-color:white;
   width:620px;
   height:300px;
   display:none;
   
}
.menu-mega-NN {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
}
.menu-mega-N-box{
    width:25%;
    height:100%;
}
.menu-mega-N-box > li{
    width:100%;
}
.menu-mega-N-box-b {
    width: 100%;
    height: 14.2%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 0 12px;
    border: 1px solid #efefef;
}

.menu-mega-N-box-b a{
    color:black;
    text-decoration:none;
}
.menu-N li:hover .menu-mega-N {
    display: block;
}
.menu-mega-N-box-b:hover, .menu-mega-N-box-cc-bx-N:hover, .menu-mega-N-box-dd-bx-N:hover, .menu-mega-N-box-ee-bx-N:hover, .menu-mega-N-box-ff-bx-N:hover, .menu-mega-N-box-gg-bx-N:hover {
    cursor: pointer;
    background-color: #649502;
}

    .menu-mega-N-box-b:hover a, .menu-mega-N-box-cc-bx-N:hover a, .menu-mega-N-box-dd-bx-N:hover a, .menu-mega-N-box-ee-bx-N:hover a, .menu-mega-N-box-ff-bx-N:hover a, .menu-mega-N-box-gg-bx-N:hover a {
        color: white;
    }
        /************************/
.menu-mega-N-box-c {
    position: absolute;
    width: 310px;
    height: 215px;
    background-color:white;
    z-index: 10;
    top: 50px;
    left: 391px;
    display:none;
}
.menu-mega-N-box-cc{
    display:flex;
    width:100%;
    height:100%;
}
.menu-mega-N-box-cc-bx{
    width:50%;
    height:100%;
}
.menu-mega-N-box-cc-bx-N {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #efefef;
}
.menu-mega-N-box-cc-bx-N a {
    color: black;
    text-decoration: none;
    
}
.menu-N li:hover .menu-mega-N-box-c{
    display:block;
}
/****************************/
.menu-mega-N-box-d {
    position: absolute;
    width: 720px;
    height: 258px;
    background-color: white;
    z-index: 10;
    top: 50px;
    left: 474px;
    display: none;
}

.menu-mega-N-box-dd {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-mega-N-box-dd-bx {
    width: 25%;
    height: 100%;
}

.menu-mega-N-box-dd-bx-N {
    width: 100%;
    height: 16.5%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #efefef;
}

    .menu-mega-N-box-dd-bx-N a {
        color: black;
        text-decoration: none;
    }

.menu-N li:hover .menu-mega-N-box-d {
    display: block;
}
/********/
.menu-mega-N-box-e {
    position: absolute;
    width: 220px;
    height: 129px;
    background-color: white;
    z-index: 10;
    top: 50px;
    left: 562px;
    display: none;
}

.menu-mega-N-box-ee {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-mega-N-box-ee-bx {
    width: 100%;
    height: 100%;
}

.menu-mega-N-box-ee-bx-N {
    width: 100%;
    height: 33.3%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #efefef;
}

    .menu-mega-N-box-ee-bx-N a {
        color: black;
        text-decoration: none;
    }

.menu-N li:hover .menu-mega-N-box-e {
    display: block;
}
/*********************/
.menu-mega-N-box-f {
    position: absolute;
    width: 350px;
    height: 215px;
    background-color: white;
    z-index: 10;
    top: 50px;
    left: 650px;
    display:none;
}

.menu-mega-N-box-ff {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-mega-N-box-ff-bx {
    width: 50%;
    height: 100%;
}

.menu-mega-N-box-ff-bx-N {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #efefef;
}

    .menu-mega-N-box-ff-bx-N a {
        color: black;
        text-decoration: none;
    }

.menu-N li:hover .menu-mega-N-box-f {
    display: block;
}
/*************/
.menu-mega-N-box-g {
    position: absolute;
    width: 170px;
    height: 215px;
    background-color: white;
    z-index: 10;
    top: 50px;
    left: 735px;
    display: none;
}

.menu-mega-N-box-gg {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-mega-N-box-gg-bx {
    width: 100%;
    height: 100%;
}

.menu-mega-N-box-gg-bx-N {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #efefef;
}

    .menu-mega-N-box-gg-bx-N a {
        color: black;
        text-decoration: none;
    }

.menu-N li:hover .menu-mega-N-box-g {
    display: block;
}
.headerr ul {
    font-weight: 700;
}

.headerr ul li a {
    color: #000;
}

.headerr ul li a:hover {
    color: #7ebd03;
}

.green {
    background-color: #7ebd03;
    color: #fff;
}
.green:hover{
    background-color: #7ebd03;
    color: #fff;
}
.home {
    color: #efefef;
    height: 50px;
    width: 45px;
    font-size: 30px;
    font-weight: bold;
}

.green {
    background-color: #7ebd03;
    color: #fff;
}

.green:hover {
    background-color: #7ebd03;
    color: #fff;
}

.le50 {
    margin-left: 50px;
    padding-bottom: 100px;
}

.sao {
    margin-top: -32px;
    margin-left: 18px;
    color: #1c1c1c;
    font-size: 13px;
    font-weight: bold;
}

.le5 {
    margin-left: 50px;
    padding-bottom: 20px;
}

.botron {
    border-radius: 40px;
}

.botron:hover {
    box-shadow: 1px 1px 1px 1px #acacac;

}

.mot {
    background-color: rgba(29, 29, 29, 0.075);
}

.xam {
    background-color: rgba(29, 29, 29, 0.075);
    text-align: left;
    padding-left: 55px;
    padding-right: -55px;
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #7ebd03;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #7ebd03;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #7ebd03;
}

.ocn {
    width: 100%;
    height: 75px;
    text-align: left;
    padding-left: 20px;

}

.docn {
    width: 100%;
    height: 50px;
    border-left: 1px solid #8b8b8a;
    border-bottom: 1px solid #8b8b8a;
    border-right: 1px solid #8b8b8a;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    justify-content: space-between;
}

.docn input {
    padding: 6px 12px;
    background-color: #7ebd03;
    color: white;
    border: none;

}

.docn input:hover {
    background-color: #598305;
}

.N-doc {
    border-right: 1px solid #8b8b8a
}

.N-ma {
    margin-bottom: 28px;
}

.N-font {
    font-size: 24px;
    margin-left: 70px;

}

.ogiua {
    margin-left: -20px;
}

.N-z-box {
    width: 100px;
    height: 40px;
    border-top: 1px solid #8b8b8a;
    border-left: 1px solid #8b8b8a;
    border-right: 1px solid #8b8b8a;
    padding: 6px 10px;
}

.N-z-bx {
    height: 40px;
    padding: 6px 20px;
    border-bottom: 1px solid #8b8b8a;

}

.N-z1-box {
    height: 40px;
    padding: 6px 530px 6px 10px;
    border-bottom: 1px solid #8b8b8a;
    margin-left: -4px;
}

h6 {
    font-size: 18px;
    color: #0f820c;
}

.tag {
    font-size: 13px;
    color: #888;
    margin-bottom: 10px;
}

.dtag {
    font-size: 13px;
    color: #0f820c;
    margin-bottom: 10px;
}

.ddtag {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

.fotter1 {
    height: 275px;
    padding: 47px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(29, 29, 29, 0.075);
    color: #464646;
    padding-bottom: 26px;
}

.fotter1 img {
    max-width: 50%;
    padding: 5px;
}

.fotter2 {
    height: 90px;
    align-content: space-between;
    padding: 20px 90px;
    background-color: #1c1c1c;
    color: #acacac;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
}

.fotter2 img {
    margin-top: 7px;
    height: 40px;
    width: 40px;
}

.fotter2 ul {
    margin-top: -25px;
    text-align: right;
}

.fotter2 ul li {
    margin-bottom: 40px;
    display: inline;
    padding: 5px;
    list-style: none;
}

.fotter2 ul li a {
    color: #888;
}

.fotter2 ul li a:hover {
    text-decoration: none;
    color: #888;
}